@{
    ViewBag.Title = "Home Page";
    var zCount = 0;
}


<div class="row mt-4">
    <div class="col-sm-4">
        <input type="file" width="100%" style="max-width:unset" accept=".txt" id="file-code">
        <ul class="detail-giftcode mt-4">
            <li>Tổng số giftcode:<span class="detail-giftcode__total">@ViewBag.TotalGiftcode</span></li>

            <li>Đã dùng:<span class="detail-giftcode__used">@ViewBag.TotalUsedGiftcode</span></li>
            <li>Còn lại:<span class="detail-giftcode__remain">@ViewBag.TotalRemainGiftcode</span></li>
            <li>Thông báo:<span class="detail-giftcode__notifi">@ViewBag.notifi</span></li>

        </ul>
        
    </div>

    <div class="col-sm-8">
        <h4 class="text-center m-3">Top 100 Lịch sử gửi code hôm nay</h4>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Thời gian</th>
                    <th scope="col">ID Facebook</th>
                    <th scope="col">Mã Giftcode</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var data in ViewBag.LogFileToday)
                {
                    zCount++;
                    var zItems = data.Split(" \r".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
                    var zTime = zItems[0] + " " + zItems[1];
                    <tr>
                        <th scope="row">@zCount</th>
                        <td>@zTime </td>
                        <td>@zItems[2]</td>
                        <td>@zItems[3]</td>
                    </tr>
                }
              

            </tbody>
        </table>
    </div>
</div>

<div id="fileContents"></div>
<script>
    $(document).ready(function () {
        $("#file-code").on('change', function () {
            var file = this.files[0];
            if (file) {
                var reader = new FileReader();
                reader.readAsText(file, "UTF-8");
                reader.onload = function (evt) {
                    var dataFile = evt.target.result;
                    $.ajax({
                        type: 'POST',
                        url: '/Home/HandleDataFile',
                        data: { data: dataFile},
                        dataType: 'json',
                        success: function (data) {
                            if (data.Code == 1) {
                                $('.detail-giftcode__notifi').text(data.Messager)
                                window.location.reload();
                            } else {
                                swal({
                                    title: "Lỗi!",
                                    text: data,
                                    icon: "warning",
                                    button: "OK!",
                                });
                            }
                        },
                    })
                   
                }
                reader.onerror = function (evt) {
                    swal({
                        title: "Lỗi!",
                        text: "Không đọc được file",
                        icon: "error",
                    });
                }
            }
        });
    });
    
</script>